In [1]:
import pandas as pd
dataset = pd.read_csv("insurance_pre.csv")
dataset = pd.get_dummies(dataset,drop_first=True,dtype=int)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [2]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [3]:
independent = dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [4]:
#split train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [11]:
#Multiple Linear Regression Model creation
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)
weight = regressor.coef_
output_predict = regressor.predict(x_test)
weight
bias = regressor.intercept_
bias

array([-12057.244846])

In [13]:
#Evaluating Metrics by calculating R2 value
from sklearn.metrics import r2_score
r_score = r2_score(y_test, output_predict)
r_score

0.7894790349867009